<form [formGroup]="myForm">
  <div><label>
    Логин
    <input type="text" formControlName="login">
  </label></div>
  <div *ngIf="loginValidator(myForm) === -1 && myForm.controls.login.touched">Введено меньше 5 символов</div>
  <div *ngIf="loginValidator(myForm) === 1 && myForm.controls.login.touched">Введено больше 10 символов</div>
  <div><label>
    Пароль
    <input type="text" formControlName="pass">
  </label></div>
  <div><label>
    Подтверждение пароля
    <input type="text" formControlName="confpass">
  </label></div>
  <div *ngIf="myForm.hasError('passError') && myForm.controls.confpass.touched">Пароли не совпадают</div>
  <button (click)="save(myForm)">Log in</button>
</form>
